:root {
  --clr-primary-cyan: hsl(185, 75%, 39%);
  --clr-primary-ddkblue: hsl(229, 23%, 23%);
  --clr-primary-dkblue: hsl(227, 10%, 46%);
  --clr-neutral-dkgray: hsl(0, 0%, 59%);

  --ff-regular: "Kumbh Sans", sans-serif;
  --fs-regular: 1.125rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-regular);
}
